@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: #17B486;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

p, h1, h2, h3, h4, h5, h6, a, table, tr, td, th, li {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.viewBox {
    width: 75%;
    height: auto;
}

.mainBox {
    width: calc(100% - 4rem) !important;
    height: auto;
}

.commandBox {
    width: calc(100% - 4rem) !important;
    height: auto;
}

.infoBox {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}